body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #f5f5f5; */
    color: white;
    /* min-height: 100vh; */
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
    display: flex;
}

.cluster{
    margin: 1em;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1em;
    column-gap: 1em;
    flex-grow: 0;
}

.button-64 {
    background-color: #6235C9;
    border-radius: 20px;
    border: 5px solid black;
    padding: 1em 2em;
    width: max-content;
    color: white;
    font-size: 1.5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .cluster{
        flex-direction: row;
        width: 80%;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232231; /* Replace 'background-image.jpg' with your image file */
    background-size: cover;
    z-index: -1; /* Ensure the background is behind other content */
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    padding-right: 1em;
}

.card {
    background-color: #6235C9;
    border-radius: 20px;
    border: 5px solid black;
    padding: 4em 8em;
    width: max-content;
}

.logo{
    height: 100px;
    background-color: black;
    border-radius: 1px;
}

.black{
    color: black;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
